*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none;  
    scroll-behavior: smooth; 
  }
  .header {
   

   max-width: 1200px;
    margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  
}
.mobileMenu {
  position: relative;
  width: 50px;
  height: 70px;
 display: none;
}
.mobileLine {
  position: absolute;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background-image: url(./Image/bars-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
}



.logo {
color: #95E1D3;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
z-index: 1;
}
.menu {
    width: 470px;
    display: flex;
  
    justify-content: space-between;
}
.menu__link {
color: #95E1D3;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.infoBlock {

    width: 275px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 136px;
    justify-content: space-between;
    position: relative;
}
.infoBlock__title {
color: #333;
font-family: Kaushan Script;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.infoBlock__text {
    color: #333;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}
.infoBlock___line {
width: 60px;
height: 4px;
background: #F38181;
animation: InfoBlock 3s linear infinite alternate; 
position: relative;
z-index: -1;


}
@keyframes InfoBlock {
  0%{
    transform: translateX(-100px);

  }
  100%{
    transform: translateX(100px); 
    background-color:#95E1D3;
  }
}

.benefits {
  display: flex;
  max-width: 1200;
  flex-wrap: wrap;
 
  justify-content: space-between;
  
 
}
.benefits__item {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
  margin-bottom: 80px;
}

  
.benefits__image {
  width: 37px;
  height: 37px;
  
  
}
.benefits__info {
}
.benefits__info-title {
  margin-bottom: 20px;
  color: #333;
/* uppercase */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-variant: small-caps;
}
.benefits__info-text {
  width: 276px;
  color: #B6B6B6;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 146.667% */
}
.second-info-block {
  max-width: 1104px;
  color: #B6B6B6;
text-align: center;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 20px;

margin: 0 auto;
}

.infoBlock__modal {
  padding: 15px 30px;
  background-color: #95E1D3;
  border-radius: 10px;
  color: #0c0c0c;
  transform: translateY(-70px);
  transition: 1s;

}
.infoBlock__modal:hover{
  background-color:  #18a88e;
  color: azure;
  box-shadow: 0 5px 10px #0c0c0c9f;
}

.infoBlock__modalBlock {
  width: 400px; 
  height: 400px; 
  background-color: #95E1D3;
  position: absolute;
  right:0px;
  top: 0%;
  display: none;
}
.mansBlock {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  flex-wrap: wrap;
}
.mansBlock__section {
  position: relative;
  margin: 20px auto;
  
}
.mansBlock__section-image {
}
.mansBlock__section-title {
  color: #333;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-variant: all-small-caps;
margin-top: 40px;
margin-bottom: 11px;
}
.mansBlock__section-text {
  color: #B6B6B6;
text-align: center;
font-family: Roboto;
font-size: 15px;
font-style: italic;
font-weight: 300;
line-height: normal;
}
.gradient{
  width: 380px;
height: 470px;
flex-shrink: 0;
background:linear-gradient(#ef8c8ad8, #e5d082d2);
position: absolute;
left: -10px;;
top: -10px;;
opacity: 0%;
transition: 0.6s;
display: flex;
justify-content: space-around;
align-items: flex-end;
}
.mansBlock__section:nth-child(2) .gradient{
  background:linear-gradient(#0ea70eda, #e5d082d7);

}
.mansBlock__section:nth-child(3) .gradient{
  background:linear-gradient(#0c44bdcc, #dcdce0d5);

}
.gradient__img{
 
  margin-bottom: 10px;
  transition: 1s;
}
.gradient__img:hover{
  transform: rotate(50deg) scale(1.2);

  
}
.gradient__img:nth-child(1){
  font-size: 50px;
  color: #b91010;
  opacity: 100%;
}
.gradient__img:nth-child(2){
  font-size: 50px;
  color: #1613c5;
  opacity: 100%;
}
.gradient__img:nth-child(3){
  font-size: 50px;
  color: #0c0c0c;
}

.mansBlock__section:hover .gradient {
 opacity: 1;
}

.footer {
 border-top: 1px solid #B6B6B6;
 padding: 0 20px;
 padding-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  
  margin: 30px auto;
  
}
.footer__text {
  margin-top: 10px;
 
  color: #333;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer__form { 
  display: flex;
  justify-content: space-between;
}
.footer__form-input {
  width: 230px;
height: 39px;
border: 1px solid #B6B6B6;
color: #B6B6B6;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: italic;
font-weight: 300;
line-height: normal;
}
.footer__form-btn {
  background-color: aqua;
  width: 150px;
height: 40px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;
}
.footer__text span {
  color: #F38181;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* Стилі для дуже великих екранів (дисплей 1200рх і більше).
Записуються без медіа-запитів, тому що контрольна точка не має верхньої межі. */

/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) { 
  

 }

/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) { ... }

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) {
      .mobileMenu{
        display: block;
        position: relative;
        z-index: 1;
        cursor: pointer;
        transition: 0.5s;
        
       height: 50px;
      }
      body{ 
      background-color: #e0dada;
      }
      .footer{
        display: flex;
        align-items: center;
        flex-direction: column;

        

      }
      .mobileLine.open{
        position: absolute;


        background-image: url(./Image/rectangle-xmark-regular.svg);
        background-size: contain;
        padding-top: 20px;

        background-repeat: no-repeat;
        
      

      }
      
      .footer__form {
        margin-top: 20px;
      }
      .menu {
      
        transform: translateX(-800px) ;
        transition: 0.8s;
        position: absolute;
        background-color: #3c10b8;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .menu.open{
       
       
        transform: translateX(0) ;

      }
      .menu__link{
        margin-bottom: 33px;
        font-size: 30px;
      }
     }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) { 
      .benefits {
       
       


        
      }
      .benefits__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #09076148;
        margin: 20px auto;
        padding: 20px;
        border-radius: 20px;

        
      }
      .benefits__image {
        margin-bottom: 20px;
        
      }
      .mansBlock__section {
        max-width: 350px;
        
      }
      .mansBlock__section-image {
        width: 100%;
      }
      .gradient{
        width: 100%;
      height: 100%;
      flex-shrink: 0;
      background:linear-gradient(#ef8c8ad8, #e5d082d2);
      position: absolute;
      left: 0px;;
      top: 0px;;
      opacity: 0%;
      transition: 0.6s;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      }
     .gradient__img{
      font-size: 30px;
      
     }
     .footer__form-btn{
      width: 100px;
     }
    }
